.footer {
  padding-bottom: 40px;
  font-size: 17px;
  font-weight: getFontWeight(semibold);

  hr {
    margin-bottom: 40px;
  }

  &__links {
    float: right;
    margin: -4px 0;

    a {
      color: getColor(text);

      &:hover {
        opacity: .8;
      }
    }
  }

  @include break-max(medium) {
    padding-bottom: 20px;
    font-size: 15px;

    .copy,
    &__links,
    .social {
      float: none;
      width: 100%;
      text-align: center;
    }

    .copy {
      margin-bottom: 15px;
    }

    .social {
      margin-top: 15px;
    }
  }
}

.copy {
  float: left;
}

.social {
  display: inline-block;
  vertical-align: middle;

  &_item {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 30px;

    &--fb {
      background-image: url(../../public/images/fb_icn.svg);
      background-size: 10px;
    }

    &--tw {
      background-image: url(../../public/images/twitter_icn.svg);
      background-size: 15px;
    }

    &:hover {
      opacity: .8;
    }
  }
}