.timeline_bar {
  width: 415px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ECECEC;
  position: relative;
  height: 30px;
  margin-bottom: 50px;

  &:after {
    content: '';
    background-color: #B3B3B3;
    border: 2px solid getColor(white);
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    bottom: -5px;
    border-radius: 20px;
  }

  span {
    display: none;
    font-size: 15px;
    color: getColor(primary);
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &--active {
    border-bottom-color: getColor(primary);

    &:after {
      background-color: getColor(primary);
    }

    span {
      display: block;
    }
  }

  @include break-max(medium) {
    width: 300px;
  }
}

.timeline_item {
  width: 415px;
  float: left;
  padding-right: 40px;

  h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    text-align: left;
    color: #242424;
  }

  &__list {
    list-style: none;
    font-size: 17px;
    line-height: 1.76;
    text-align: left;

    li {
      margin-bottom: 15px;
      position: relative;

      &.active {
        &:before {
          content: '';
          background: url(../../public/images/check.svg) no-repeat center;
          background-size: 13px 15px;
          left: -25px;
          top: 7px;
          position: absolute;
          width: 13px;
          height: 15px;
        }
      }
    }
  }

  @include break-max(medium) {
    width: 300px;
    padding-right: 20px;

    &__list {
      font-size: 14px;

      li.active:before {
        position: static;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}