<section class="section section_about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Lykke Corp</h3>
        <p>Trading financial products involves significant risk and can result in&nbsp;the loss of&nbsp;your invested capital. You should not invest more than you can afford to&nbsp;lose and should ensure that you fully understand the risks involved. Trading leveraged products may not be&nbsp;suitable for all investors. Before trading, please take into consideration your level of&nbsp;experience, investment objectives and seek independent financial advice if&nbsp;necessary. It&nbsp;is&nbsp;the responsibility of&nbsp;the Client to&nbsp;ascertain whether he/&nbsp;she is&nbsp;permitted to&nbsp;use the services of&nbsp;Lykke Vanuatu Limited based on&nbsp;the legal requirements in&nbsp;his/ her country of&nbsp;residence. Please read full Risk Disclosure.</p>
        <p>Spot FX&nbsp;trading is&nbsp;provided by&nbsp;Lykke Corp UK. Leveraged FX&nbsp;&amp;&nbsp;CFD trading is&nbsp;only available to&nbsp;Lykke Vanuatu clients who reside in&nbsp;Asian and African countries. Lykke services are not available to&nbsp;the residents of&nbsp;US, Canada, Japan, Australia. For full list of&nbsp;countries please refer to&nbsp;the Terms of&nbsp;Use.</p>
        <div class="copy">
          &copy; <strong>2017 Lykke, Inc.</strong>
        </div>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <h3>Social media</h3>
        <menu class="nav nav--list">
          <li><a href="https://www.facebook.com/LykkeCity" target="_blank" rel="noopener noreferrer">Facebook</a></li>
          <li><a href="https://twitter.com/LykkeCity" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a href="http://instagram.com/lykkecity" target="_blank" rel="noopener noreferrer">Instagram</a></li>
          <li><a href="https://www.youtube.com/c/LykkeX" target="_blank" rel="noopener noreferrer">Youtube</a></li>
        </menu>
        <menu class="nav nav--list">
          <li><a href="https://www.linkedin.com/company/lykke" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://www.reddit.com/r/lykke" target="_blank" rel="noopener noreferrer">Reddit</a></li>
          <li><a href="https://t.co/TmjMYnQD7T" target="_blank" rel="noopener noreferrer">Telegram</a></li>
          <li><a href="http://lykkecommunity.herokuapp.com" target="_blank" rel="noopener noreferrer">Slack</a></li>
        </menu>
      </div>
    </div>
  </div>
</section>
