<section class="section section_gray section_fees" id="fees">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="h2">Documents</h3>
      </div>
      <div class="col-md-8">
        <ul class="list list--invest">
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/company_register_icn.svg" alt="company_register_icn" width="42" height="42"></div>
            <div class="list__text">
              <p>Company Register</p>
              <a href=" https://zg.chregister.ch/cr-portal/auszug/auszug.xhtml?uid=CHE-345.258.499" target="_blank">View on Powernet</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/roadmap_icn.svg" alt="roadmap_icn" width="40" height="40"></div>
            <div class="list__text">
              <p>Investor Deck</p>
              <a href="https://forward.lykke.com/files/Investor_deck.pdf" target="_blank">Download</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/annual_report_icn.svg" alt="annual_report_icn" width="42" height="38"></div>
            <div class="list__text">
              <p>Annual Report 2015</p>
              <a href="https://lykke.com/Annual_Report_2015.pdf" target="_blank">Download</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/annual_report_icn.svg" alt="annual_report_icn" width="42" height="38"></div>
            <div class="list__text">
              <p>Annual Report 2016</p>
              <a href="https://lykke.com/Annual_Report_2016.pdf" target="_blank">Download</a>
              <span class="middot">·</span>
              <a href="https://report2016.lykke.com" target="_blank">Voting results</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/memorandum_icn.svg" alt="memorandum_icn" width="35" height="39"></div>
            <div class="list__text">
              <p>Lykke Corp Placement Memorandum</p>
              <a href="https://lykke.com/Lykke_Corp_Placement_Memorandum.pdf" target="_blank">Download</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/equity_icn.svg" alt="equity_icn" width="36" height="34"></div>
            <div class="list__text">
              <p>Lykke Corp Equity Register on Blockchain</p>
              <a href="https://www.coinprism.info/asset/AXkedGbAH1XGDpAypVzA5eyjegX4FaCnvM" target="_blank">View on Coinprism</a>
            </div>
          </li>
          <li class="list__item col-xs-12 col-sm-6">
            <div class="list__icon"><img src="images/disclosure/auditor_report_icn.svg" alt="equity_icn" width="44" height="46"></div>
            <div class="list__text">
              <p>Independent Auditor Report on the Financial Statements (2016)</p>
              <a href="https://lykke.com/2016_Lykke_report_independent_Auditor.pdf" target="_blank">Download</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>