<section class="section section_lead" id="lead">
  <div class="container">

    <div class="vertical_align">
      <div class="vertical_align__row">
        <div class="vertical_align__cell">
          <div class="row">
            <div class="col-md-9">
              <h1 class="h2 section_title">Green Energy Wallet</h1>
              <p class="lead">Green Energy Wallet is&nbsp;a&nbsp;battery leasing solution based on&nbsp;blockchain technology that harnesses the combined storage capacity of&nbsp;electric vehicles and home batteries. This initiative helps to&nbsp;maximize the production of&nbsp;renewable energy and resupply the grid as&nbsp;needed.</p>

              <strong>Invest in the technology that will determine our future!</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="powered">Powered by Lykke</div>
  </div>
</section>