<section class="section section_manifesto" id="manifesto">
  <div class="container">

    <div class="section_header">
      <div class="section_subtitle">What is it?</div>
      <h2 class="section_title">Manifesto</h2>
    </div>

    <div class="row">
      <div class="col-md-9">
        <h3>Why Green Energy Wallet?</h3>
        <p>Two significant emerging technologies will determine our future: renewable energies and electric vehicles. Even by&nbsp;using the current energy mix, the total carbon footprint of&nbsp;an&nbsp;electric vehicle is&nbsp;less than that of&nbsp;an&nbsp;internal combustion engine. A&nbsp;fully electric engine, utilizing only renewable energy sources, would leave only 2&nbsp;percent of&nbsp;the carbon footprint of&nbsp;today&rsquo;s internal combustion engine. But renewable electricity cannot be&nbsp;stored in&nbsp;the grid: To&nbsp;make the transition away from fossil fuels a&nbsp;practical and achievable goal, we&nbsp;need efficient facilities to&nbsp;store renewable energy.</p>
        <p>Our Green Energy Wallet combines the unused capacity of&nbsp;electric vehicles and spare batteries for home storage of&nbsp;energy with an&nbsp;intelligent system to&nbsp;use this capacity as&nbsp;a&nbsp;buffer store.</p>
        <p>We&nbsp;are developing a&nbsp;bi-directional charging technology for a&nbsp;smart grid that enables electricity to&nbsp;flow either way between the power grid and any electric vehicle or&nbsp;home battery connected to&nbsp;the Green Energy Wallet.</p>
      </div>
    </div>

    <h3>What is Green Energy Wallet?</h3>
    <p>The Green Energy Wallet solution has two interrelated components:</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="about_item">
          <div class="about_item__icon">
            <img src="images/app_icn.svg" alt="app" width="46" height="70">
          </div>
          <b class="text-accent">01.</b>
          <div class="about_item__title"><b>The Green Energy Wallet app</b></div>
          <p>The Green Energy Wallet app is the heart of our solution. It provides the software connection between the electric vehicle and the Green Energy Wallet Power Box. With this app, the user can charge or discharge an electric vehicle based on typical preferences or current needs. The app also provides other useful functions, such as access to car settings; statistics on mileage, consumption, and driving style; and a HUD display featuring the vehicle’s current charge level and GPS location. </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="about_item">
          <div class="about_item__icon">
            <img src="images/powerbox_icn.svg" alt="powerbox" width="60" height="60">
          </div>
          <b class="text-accent">02.</b>
          <div class="about_item__title">
            <b>The Intelligent Green Energy Wallet Power Box</b>
          </div>
          <p>The intelligent Green Energy Wallet Power Box is a hardware component that supports the rapid charging and discharging of an electric vehicle’s battery. A bi-directional meter measures the flow of electricity to and from the battery. The user can connect a spare battery or even private energy production capacity to the Green Energy Wallet Power Box and transfer renewable energy to where it is needed most at any given time. </p>
        </div>
      </div>
    </div>

    <h4>Key benefits</h4>
    <p>The Green Energy Wallet solution offers the following advantages: </p>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-styled">
              <li>The owners of electric vehicles can charge their batteries at off-peak periods, when the price of electricity is lower.</li>
              <li>Spare batteries for home storage of renewable energy can be leased to end users for a regular fee.</li>
              <li>Electricity providers can draw on the renewable energy in connected batteries to meet instantaneous energy demands.</li>
              <li>The solution can provide emergency power backup during outages.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-styled">
              <li>The end user can draw from energy stored on off-peak times during peak hours.</li>
              <li>Electric vehicle owners can use the battery of their vehicle to supplement their home power consumption if their residence has a solar grid. </li>
              <li>The solution extends battery life by managing and regulating charge/discharge cycles.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
