<section class="section section_manifesto" id="manifesto">
  <div class="container">

    <div class="section_header">
      <div class="section_subtitle">What is it?</div>
      <h2 class="section_title">Manifesto</h2>
    </div>

    <div class="row">
      <div class="col-md-9">
        <h3>Why Green Energy Wallet?</h3>
        <p>Two significant emerging technologies will determine our future: renewable energies and electric vehicles. The total carbon footprint of&nbsp;an&nbsp;electric vehicle is&nbsp;already 50&nbsp;percent less than that of&nbsp;an&nbsp;internal combustion engine, even considering that many of&nbsp;the energy sources that we&nbsp;use to&nbsp;generate the vehicle&rsquo;s electricity are not themselves renewable. Were the same vehicle to&nbsp;utilize renewable energy only, it&nbsp;would leave a&nbsp;mere 2&nbsp;percent of&nbsp;the total carbon footprint of&nbsp;today&rsquo;s internal combustion engine. Clearly, promising gains stand to&nbsp;be&nbsp;made in&nbsp;this area. But renewable are not as&nbsp;regular as&nbsp;conventional power plants and electricity cannot be&nbsp;stored in&nbsp;the grid: To&nbsp;ensure that the transition away from fossil fuels is&nbsp;a&nbsp;practical and achievable goal, we&nbsp;need efficient facilities to&nbsp;store renewable energy.</p>
        <p>Our Green Energy Wallet combines the unused battery capacity of&nbsp;many electric vehicles with an&nbsp;intelligent system to&nbsp;use this capacity as&nbsp;a&nbsp;large buffer store for renewable energy. Solar power systems and home battery storages can also be&nbsp;connected.</p>
        <p>We&nbsp;are developing a&nbsp;bi-directional charging system for a&nbsp;smart grid that enables electricity to&nbsp;flow either way between the power grid and any electric vehicle or&nbsp;home battery connected to&nbsp;the Green Energy Wallet.</p>
      </div>
    </div>

    <h3>What is Green Energy Wallet?</h3>
    <p>The Green Energy Wallet system has two interrelated components:</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="about_item">
          <div class="about_item__icon">
            <img src="images/app_icn.svg" alt="app" width="46" height="70">
          </div>
          <b class="text-accent">01.</b>
          <div class="about_item__title"><b>The Green Energy Wallet app</b></div>
          <p>The Green Energy Wallet app is&nbsp;the heart of&nbsp;our solution. It&nbsp;provides the software connection between the electric vehicle and the Green Energy Wallet Power Box. With this app, the user can charge or&nbsp;discharge an&nbsp;electric vehicle based on&nbsp;typical preferences or&nbsp;current needs. The app also provides other useful functions, such as&nbsp;access to&nbsp;car settings; statistics on&nbsp;mileage, consumption, and driving style; and a&nbsp;HUD display featuring the vehicle&rsquo;s current charge level and GPS location.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="about_item">
          <div class="about_item__icon">
            <img src="images/powerbox_icn.svg" alt="powerbox" width="60" height="60">
          </div>
          <b class="text-accent">02.</b>
          <div class="about_item__title">
            <b>The Intelligent Green Energy Wallet Power Box</b>
          </div>
          <p>The intelligent Green Energy Wallet Power Box is&nbsp;a&nbsp;hardware component that supports the rapid charging and discharging of&nbsp;an&nbsp;electric vehicle&rsquo;s battery. A&nbsp;bi-directional meter measures the flow of&nbsp;electricity to&nbsp;and from the Power box . The user can also connect a&nbsp;home battery storage or&nbsp;any private energy production such as&nbsp;a&nbsp;solar power systemt and transfer renergy to&nbsp;where it&nbsp;is&nbsp;needed at&nbsp;any given time. </p>
        </div>
      </div>
    </div>

    <h4>Key benefits</h4>
    <p>For Green Energy Wallet:</p>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-styled">
              <li>Green Energy Wallet is&nbsp;profiting from energy trading on&nbsp;the energy market by&nbsp;charging energy at&nbsp;off-peak and sell it&nbsp;at&nbsp;peak periods.</li>
              <li>The solution can provide emergency power backup during outages.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-styled">
              <li>Green Energy Wallet is&nbsp;using existing battery as&nbsp;energy storage; there are not expensive installation and maintenance costs.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <p>For Green Energy Wallet users:</p>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-styled">
              <li>Green Energy Wallet is&nbsp;taking over of&nbsp;their battery costs.</li>
              <li>Charge their electric vehicle cheaper.</li>
              <li>Draw from energy stored in their electric vehicle battery on off-peak times during peak hours</li>
              <li>The Green Energy Wallet App provides many useful functions for users.</li>
              <li>Replacing and recycling of their battery at the end of battery life.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-styled">
              <li>Extend of the battery life by managing and regulating charge/discharge cycles.</li>
              <li>EV owners can use the electric vehicle battery instead of an home battery storage as a supplement to their solar power system.</li>
              <li>Green Energy Wallet users make a significant contribution to environmental protection.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <p>Fpr electricity providers:</p>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-styled">
              <li>Electricity providers can draw on the energy in connected batteries to meet instantaneous energy demands.</li>
              <li>The installation von expensive energy storage facilities with negative influence on the environment are not necessary anymore.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-styled">
              <li>The Green Energy Wallet system can provide emergency power backup during outages.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
