<section class="section section_roadmap" id="roadmap">
  <div class="container">
    <div class="section_header">
      <div class="section_subtitle">Timeline</div>
      <h2 class="section_title">Roadmap</h2>
    </div>

    <div class="timeline slick_slider">
      <div class="timeline_item">
        <div class="timeline_bar timeline_bar--active">
          <span>We are here</span>
        </div>
        <h4>Q4 2017</h4>
        <ul class="timeline_item__list">
          <li class="active">Specification for GEW Application</li>
          <li class="active">Specification for GEW Power Box</li>
          <li class="active">Partnership with a company from the automotive industry</li>
          <li class="active">Start development of GEW application basic functions</li>
          <li>Company Foundation</li>
          <li>Partnership with a development partner for GEW Power Box</li>
          <li>Partnership with seed investors</li>
          <li>Partnership with an energy provider</li>
          <li>Start development of GEW Power Box</li>
        </ul>
      </div>
      <div class="timeline_item">
        <div class="timeline_bar"></div>

        <h4>Q1-Q2 2018</h4>
        <ul class="timeline_item__list">
          <li>Automotive industry partner provides EV and PHEV for testing</li>
          <li>Test GEW App and Power Box basic functions (Prof of concept)</li>
          <li>Application for government subsidies</li>
          <li>ICO – Initial Coin Offering</li>
        </ul>
      </div>
      <div class="timeline_item">
        <div class="timeline_bar"></div>

        <h4>Q3 2018</h4>
        <ul class="timeline_item__list">
          <li>Testing GEW energy trading</li>
          <li>Integration of GEW App with Lykke Exchange</li>
          <li>Development of GEW App car sharing functions</li>
        </ul>
      </div>
      <div class="timeline_item">
        <div class="timeline_bar"></div>

        <h4>Q4 2018</h4>
        <ul class="timeline_item__list">
          <li>Test run with 20 EVs, including car sharing and trading functions</li>
        </ul>
      </div>
      <div class="timeline_item">
        <div class="timeline_bar"></div>

        <h4>Q1 2019</h4>
        <ul class="timeline_item__list">
          <li>Start of serial production of the GEW System</li>
        </ul>
      </div>
    </div>
  </div>
</section>
