<section class="section section_team" id="team">
  <div class="container">
    <div class="section_header">
      <div class="section_subtitle">Who we are?</div>
      <h2 class="section_title">Team</h2>
    </div>

    <div class="team_list">
      <div class="team_item">
        <div class="team_item__img">
          <img src="images/jutta.png" width="240" height="240" alt="Jutta Kleinschmidt">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Jutta Kleinschmidt</div>
          <div class="team_item__desc">Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Engineering, Partnerships</strong>
            <p>After earning her Masters of Physics in Engineering, Jutta worked for BMW as a development engineer. Jutta Kleinschmidt is a professional car race driver and the first woman to win the overall classification at the Dakar Rally. During her race career she developed the most successful race cars in Cross Country Rally Sport. She serves as an advisor for well-known companies, where she compares her motor sport experience with attaining business success.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/alexander.png" width="240" height="240" alt="Alexander Spuller">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Alexander Spuller</div>
          <div class="team_item__desc">Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Management, Business Development</strong>
            <p>Following earning a Degree in Civil Engineering and Jura Studies, Alexander has engaged in his family’s construction business as an Engineer, where he still has managing responsibilities. Throughout the years Alexander has realized a multitude of his own local and international projects. He presently is on the Board of Directors of Lykke AG.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/anton.png" width="240" height="240" alt="Anton Golub">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Anton Golub</div>
          <div class="team_item__desc">Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Finance, Research</strong>
            <p>Anton Golub is a co-founder of Lykke Corp and its Chief Science Officer. He is leading expert in financial applications of the Blockchain technology and high frequency trading. Before Lykke Corp, Anton worked with Richard Olsen at Olsen Ltd, a pioneer hedge fund in the field of high frequency trading. Anton has a Masters degree in Financial Mathematics from University of Zagreb and is a PhD candidate at Universite de Geneve, CUI.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/lykke.png" width="240" height="240" alt="Lykke AG">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Lykke AG</div>
          <div class="team_item__desc">Technology partner</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <p>Lykke is a Swiss-based online exchange founded by Richard Olsen, former CEO of OANDA. The Lykke platform enables people from around the world to trade currencies and cryptocurrencies safely and securely, without incurring fees. Users simply download a free wallet app for iOS and Android and complete an identity verification process. The company is helping to revolutionize finance by championing the use of digital tokens that can represent any type of asset. Lykke is also leveraging its exchange technology to build enterprise-scale solutions for large financial institutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
