<section class="section section_team" id="team">
  <div class="container">
    <div class="section_header">
      <div class="section_subtitle">Who we are?</div>
      <h2 class="section_title">Team</h2>
    </div>

    <div class="team_list">
      <div class="team_item">
        <div class="team_item__img">
          <img src="images/jutta.png" width="240" height="240" alt="Jutta Kleinschmidt">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Jutta Kleinschmidt</div>
          <div class="team_item__desc">Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Engineering, Partnerships</strong>
            <p>Jutta Kleinschmidt is&nbsp;a&nbsp;professional car race driver and the first woman to&nbsp;win the overall classification at&nbsp;the Dakar Rally. During her race career, she developed the most successful race cars in&nbsp;Cross Country Rally Sport. After earning her Masters of&nbsp;Physics in&nbsp;engineering, she worked for BMW as&nbsp;a&nbsp;development engineer. She currently serves as&nbsp;an&nbsp;advisor for well-known companies, where she compares her motor sport experience with attaining business success.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/alexander.png" width="240" height="240" alt="Alexander Spuller">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Alexander Spuller</div>
          <div class="team_item__desc">Co-Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Management, Business Development</strong>
            <p>Alexander Spuller works as&nbsp;a&nbsp;managing engineer in&nbsp;his family&rsquo;s construction business. Over the years, he&nbsp;has contributed to&nbsp;numerous projects of&nbsp;various sizes and scopes, from local impact to&nbsp;international reach. He&nbsp;presently sits on&nbsp;the Board of&nbsp;Directors of&nbsp;Lykke AG. He&nbsp;holds a&nbsp;degree in&nbsp;civil engineering and legal studies.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/anton.png" width="240" height="240" alt="Anton Golub">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Anton Golub</div>
          <div class="team_item__desc">Co-Founder</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Finance, Research</strong>
            <p>Anton Golub is&nbsp;a&nbsp;co-founder and Chief Science Office of&nbsp;Lykke Corp. He&nbsp;is&nbsp;a&nbsp;leading expert in&nbsp;the financial applications of&nbsp;blockchain technology. Before Lykke Corp, Anton worked with Richard Olsen at&nbsp;Olsen Ltd, a&nbsp;pioneer hedge fund in&nbsp;the field of&nbsp;high-frequency trading. Anton holds a&nbsp;Masters degree in&nbsp;financial mathematics from the University of&nbsp;Zagreb, and he&nbsp;is&nbsp;a&nbsp;Ph.D. candidate at&nbsp;the Universite de&nbsp;Geneve, CUI.</p>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/lykke.png" width="240" height="240" alt="Lykke AG">
        </div>
        <div class="team_item__name">
          <div class="team_item__title">Lykke AG</div>
          <div class="team_item__desc">Technology partner</div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <p>Lykke is a Swiss-based online exchange founded by Richard Olsen, former CEO of OANDA. The Lykke platform enables people from around the world to trade currencies and cryptocurrencies safely and securely, without incurring fees. Users simply download a free wallet app for iOS and Android and complete an identity verification process. The company is helping to revolutionize finance by championing the use of digital tokens that can represent any type of asset. Lykke is also leveraging its exchange technology to build enterprise-scale solutions for large financial institutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
