<footer class="footer">
  <div class="container">
    <hr>
    <div class="copy">© 2017 Green Energy Wallet</div>
    <div class="footer__links">
      <a href="mailto:contact@greenenergywallet.com">contact@greenenergywallet.com</a>
      
      <div class="social">
        <a href="https://www.facebook.com/greenenergywallet/" target="_blank" class="social_item social_item--fb"></a>
        <a href="#" target="_blank" class="social_item social_item--tw"></a>
      </div>
    </div>
  </div>
</footer>