<header class="header _header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header_logo _header_logo">
        <a href="#" class="_move_to">Green Energy Wallet</a>
      </div>
      <div class="nav_menu">
        <button type="button" class="btn btn--icon menu_icon _toggle_menu">
          <i></i><i></i><i></i>
        </button>
      </div>
      <div class="header_center nav_dropdown pull-left">
        <menu class="header_nav">
          <li class="header_nav__item">
            <a href="#manifesto" class="_move_to _header_link">Manifesto</a>
          </li>
          <li class="header_nav__item">
            <a href="#roadmap" class="_move_to _header_link">Roadmap</a>
          </li>
          <li class="header_nav__item">
            <a href="#team" class="_move_to _header_link">Team</a>
          </li>
          <li class="header_nav__item">
            <a href="mailto:contact@greenenergywallet.com">Contact us</a>
          </li>
          <li class="header_nav__item">
            <a href="#">Documents</a>
          </li>
        </menu>
      </div>
    </div>
  </div>
</header>
