<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lykke Security</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  </head>
  <body>
    <%= require('html-loader?attrs=false!./partials/header.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/manifesto.html') %>
    <div class="container"><hr></div>
    <%= require('html-loader?attrs=false!./partials/sections/roadmap.html') %>
    <div class="container"><hr></div>
    <%= require('html-loader?attrs=false!./partials/sections/team.html') %>
    <%= require('html-loader?attrs=false!./partials/footer.html') %>

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="slick.min.js"></script>
    <script>
      $('.slick_slider').slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: false,
        variableWidth: true,
        mobileFirst:true,
        responsive: [
          {
            breakpoint: 1380,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          },
          {
            breakpoint: 500,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }
        ]
      });

    </script>
  </body>
</html>
